*{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
/* This is the Start of Top trick Sectioning */
.kind {
  background-color: #d7d8e3;
  width: 120px; height: 45px;
}
.business-wraper {
  background-color: #f8f6fe;
  width: 200px; height: 45px;
  padding: 11px 0 0 20px;
}
.business-wraper a{
  color: black; text-decoration: none;
  font-size: 16px; font-weight: 600;
}
.ref {
  background-color: #d7d8e3;
  height: 45px; width: 950px; padding: 11px 20px;
}
.ref a{
  color: black; text-decoration: none;
  font-size: 16px; font-weight: 600;
}
.top-trick-wraper {
  background-color: #b6bbcf;
  height: 45px; width: 150px;
  padding-left: 15px; cursor: pointer;
}
.top-trick-wraper p{
  padding-top: 15px;
}

.top-trick-wraper a {
  gap: 10px;
  color: inherit;
  font-size: 16px;
  font-weight: 600;
}
.top-trick-hover-content {
  right: 0%;
  background-color: #3ac6f5;
  gap: 20px; padding: 12px 12px;
  border-radius: 4px; white-space: nowrap;
  transform: skewX(-10deg) scale(0.95);
  opacity: 0;
  transition: opacity 0.5s ease-in-out 0s;
  transform-origin: right; 
  z-index: 999;
}
.top-trick-hover-content a:hover{
  color: black;
  text-decoration: underline;
}
.top-trick-hover-content a:hover i {
  color: white;
}
.top-trick-container:hover .top-trick-hover-content {
  opacity: 1;
}
.top-trick-hover-content span,.top-trick-hover-content a {
  transform: skewX(15deg);
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.note{
  background-color: #d7d8e3;
  height: 45px; width: 115px;
}
/* This is the End of Top trick Sectioning */
/* This is the start of Navbar Sectioning */
.navbar{
  background-color: #020a18;
}
.navbar-nav .nav-item {
  position: relative;
}
.navbar-expand-lg .offcanvas .offcanvas-body{
  padding-right: 110px !important;
}
.navbar>.container-fluid{
  gap: 50px;
}
.hover-card {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: white;
  padding: 30px;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 300px;
  z-index: 10;
}
.nav-item:hover .hover-card {
  display: block;
}
.hover-card h6 {
  font-weight: bold; border-bottom: 2px solid #006CFF;
  margin-left: 25px; padding: 10px 0 10px 0 ; display: inline-block;
}
.hover-card a {
  position: relative; display: flex;
  align-items: center;
  gap: 8px; padding: 5px 0;
  color: #333; text-decoration: none;overflow: hidden;
}
.hover-card a i{
  opacity: 0;
  transform: translateX(-10px) skewX(-20deg);
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.hover-card a:hover i {
  opacity: 1;
  transform: translateX(0px) skewX(0deg);
  color: #006CFF;
}
.hover-card a:hover {
  color: #006CFF;
  transform: skewX(-5deg);
}
.underline-hover{
  position: relative;
  text-decoration: none;
  padding-bottom: 2px; 
}
.underline-hover::before, .underline-hover::after{
  content: '';
  position: absolute;
  left: 0; bottom: 0;
  height: 0.9px; width: 0;
  background-color: white; transition: width 0.3s ease;
}
.underline-hover::before{
  left: 50%;
  transform: translateX(-50%);
}
.underline-hover::after{
  right: 50%;
  transform: translateX(50%);
}
.underline-hover:hover::before, .underline-hover:hover::after{
  width: 60%;
}
.nav-link {
  margin-right: 20px;
  color: white !important;
  font-size: 17px !important;
  font-weight: 600 !important;
}
.navbar-brand img {
  height: 30px;
  padding-left: 80px;
}
.btn9{
  background-color: ghostwhite;
  padding: 10px 30px;
  border: none; color: black;
  border-radius: 25px; font-weight: 700; 
  transition: all 1000ms; font-size: 17px;
}
.btn9:hover{
  color: black;
  transform: scale(1.1);
}
.btn9::before {
  content: "";
  position: absolute;
  left: -50px; top: 0; width: 0; height: 100%;
  background-color: lightskyblue; transform: skewX(30deg);
  z-index: -1; transition: width 700ms;
}
.btn9:hover::before {
  width: 250%;
}
/* This is the End of Navbar Sectioning */
/* This is the start of Header-page sectioning */
.built{
  background: url("Multimedia/bolt-bg.png");
  background-size: cover; background-repeat: no-repeat;
  height: 100vh;
}
.banding{
  padding: 150px 150px;
}
.built-h1{
  font-size: 70px; font-weight: 800;
  color: royalblue;
  line-height: 80px;
}
.built-p{
  color: dimgray;
  font-size: 20px; font-weight: 500;
  padding-top: 15px; line-height: 25px;
}
.titi{
  background-color: #020a18;
  padding: 15px 20px;
  border: none;
  color: white;
  border-radius: 25px; 
  font-weight: 700; 
  transition: all 1000ms;
  font-size: 15px;
}
.titi:hover{
  color: black;
  transform: scale(1.1);
}
.titi::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: lightskyblue;
  transform: skewX(30deg);
  z-index: -1;
  transition: width 700ms;
}
.titi:hover::before {
  width: 250%;
}
.jide-dex{
  gap: 50px;
}
/* This is the End of Header-page sectioning */
/* This is the start of Checkout-page sectioning */
.nancy-wrap{
  padding-top: 150px;
  gap: 40px;
}
.jency{
  background-color: #020a18;
  width: 520px;
  padding: 50px 50px;
  height: 370px;
  border-radius: 10px;
}
.jency h1{
  color: white;
  font-size: 32px;
  font-weight: 700;
}
.jency p{
  color: white;
  line-height: 19px;
  font-weight: 600;
  font-size: 16px;
  padding: 10px 0% 15px 0%;
}
.gip{
  padding-left: 8px;
}
.form-check-input {
  cursor: pointer;
}
input[type="radio"] {
  width: 20px; height: 20px;
}
.form-check-label {
  color: dimgray;
  font-family: Inter, sans-serif, -apple-system, BlinkMacSystemFont, Apple Color Emoji, Segoe UI, Segoe UI Emoji, Segoe UI Symbol;
  font-weight: 500;
  cursor: pointer;
}
#radio1:checked + .form-check-label {
  color: white;
}
#radio1:checked{
  border: 3px solid lightgray;
}
#radio2:checked + .form-check-label {
  color: white;
}
#radio2:checked{
  border: 3px solid lightgray;
}
.btn1{
  background-color: lightskyblue;
  padding: 15px 25px;
  margin-top: 20px;
  border: none;
  color: black;
  border-radius: 25px; 
  font-weight: 700; 
  transition: all 1000ms;
  font-size: 17px;
}
.btn1:hover{
  color: black;
  transform: scale(1.1);
}
.btn1::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: white;
  transform: skewX(30deg);
  z-index: -1;
  transition: width 700ms;
}
.btn1:hover::before {
  width: 250%;
}
/* This is the End of Checkout-page sectioning */
/* This is the start of Years of Data sectioning */
.divide-wraper{
  background: url("Multimedia/Divider_black.svg") bottom no-repeat;
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 30vh;
}
.divide{
  background-color: #020a18;
  padding: 200px 180px 200px 180px;
}
.divide h1{
  color: white;
  font-size: 62px;
  font-weight: 800;
  text-align: center;
}
.divide p{
  color: #d6d6e1;
  text-align: center;
  padding-top: 15px;
  font-size: 18px;
  font-weight: 600;
}
.btn2{
  background-color: lightskyblue;
  padding: 15px 25px;
  margin-top: 20px;
  border: none;
  color: black;
  border-radius: 25px; 
  font-weight: 700; 
  transition: all 1000ms;
  font-size: 17px;
}
.btn2:hover{
  color: lightskyblue;
  transform: scale(1.1);
}
.btn2::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #020a18;
  transform: skewX(30deg);
  z-index: -1;
  transition: width 700ms;
}
.btn2:hover::before {
  width: 250%;
}
/* This is the End of Years of Data sectioning */
/* This is the start of Shoper-Network sectioning */
.power-wraper{
  background-color: #020a18;
  padding:0 250px 150px 100px;
  gap: 70px;
}
.print h1{
  color: white;
  font-weight: 700;
  font-size: 32px;
}
.print p{
  color: #d6d6e1;
  padding-top: 10px;
  font-size: 16px;
  line-height: 21px;
}
.power-wraper-1{
  background-color: #020a18;
  padding:0 150px 50px 250px;
  gap: 70px;
}
.print-1 h1{
  color: white;
  font-weight: 700;
  font-size: 32px;
}
.print-1 p{
  color: #d6d6e1;
  padding-top: 10px;
  font-size: 16px;
  line-height: 21px;
}
.btn3{
  background-color: lightskyblue;
  padding: 15px 35px;
  margin-top: 20px;
  border: none;
  color: black;
  border-radius: 25px; 
  font-weight: 700; 
  transition: all 1000ms;
  font-size: 17px;
}
.btn3:hover{
  color: lightskyblue;
  transform: scale(1.1);
}
.btn3::before {
  content: "";
  position: absolute;
  left: -50px; top: 0;
  width: 0; height: 100%;
  background-color: #020a18; border: none;
  transform: skewX(30deg); z-index: -1; transition: width 800ms;
}
.btn3:hover::before {
  width: 250%;
}
.power-wraper-2{
  background-color: #020a18;
  padding: 0 150px 0 150px;
  gap: 70px;
  
}
.print-2 h1{
  color: white;
  font-weight: 700;
  font-size: 32px;
}
.print-2 p{
  color: #d6d6e1;
  padding-top: 10px;
  font-size: 16px;
  line-height: 21px;
}
.power-wraper-3{
  background-color: #020a18;
  padding: 0 150px 0 250px;
  gap: 70px;
}
.print-3 h1{
  color: white;
  font-weight: 700;
  font-size: 32px;
}
.print-3 p{
  color: #d6d6e1;
  padding-top: 10px; font-size: 16px; line-height: 21px;
}
.print-4 h1{
  font-size: 40px;
}
.divider-tinted-white img{
  width:100%;
  background-color: #020a18;
}
/* This is the End of Shoper-Network sectioning */
/* This is the start of Qoute sectioning */
.quote-wraper{
  background-color: #f8f6ff;
  padding: 50px 0 170px 0;
}
.quote-img{
  height: 230px; width: 630px;
  border-top-left-radius: 15px; border-bottom-left-radius: 15px;
}
.quote-text {
  top: 8%;
  left: 8%;
  font-weight: bolder;
  text-align: left;
  font-size: 18px;
}
.joju{
  border-top-right-radius: 15px;border-bottom-right-radius: 15px;
  padding: 0 0 0 90px; margin-top: 0%;
  font-size: 19px; font-weight: 600;
  line-height: 22px;
  height: 230px; width: 630px;
}
.btn4{
  border: none;
  color: royalblue;
  font-weight: 600;
  font-size: 19px;
  background: none;
}
.btn4 i{
  transform: translateX(-8px);
  transition: all 1s ease;
}
.btn4:hover i{
  transform: translateX(0);
}
.btn4:active i{
  transform: scale(0.9);
}
/* This is the End of Qoute sectioning */
/* This is the start of Wild-check sectioning */
.wild-wraper{
  background-color: #f8f6ff;
}
.headline{
  padding-top: 5px;
}
.headline, .rev-text h1{
  font-size: 50px;
}
.love-lead{
  justify-content: center;
  gap: 15px;
  padding-top: 60px; margin-bottom: 90px;
}
.love-lead img{
  border-radius: 10px;
  width:  390px;
}
.rev-container{
  padding-top: 60px; padding-bottom: 50px;
}
.rev-wraper{
  padding: 40px 40px 30px 20px;
  border-radius: 10px;
  width: 75%;box-shadow: 0 12px 20px rgba(0, 0, 0, .05);;
}
.rev-text{
  padding-left: 50px;
}
.rev-banding{
  justify-content: space-between;
}
.you-tube-container{justify-content: space-between;}
.you-tube-wraper{padding-left: 55px;}
.you-tube-link{
  padding-top: 15px;
  gap: 12px;
  text-decoration: none;
}
.cost p{
  justify-content: flex-end;
  font-size: 22px;
}
.power-wraper-4{
  background-color: #f8f6ff;
  padding:0 150px 50px 170px;
  gap: 70px;
}
.btn6{
  background-color: black;
  padding: 15px 35px;
  margin-top: 20px;
  border: none;
  border-radius: 25px; 
  font-weight: 700; 
  transition: all 1000ms;
  font-size: 17px;
}
.btn6:hover{
  color: black;
  transform: scale(1.1);
}
.btn6::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: lightskyblue;
  transform: skewX(30deg);
  z-index: -1;
  transition: width 700ms;
}
.btn6:hover::before {
  width: 250%;
}
.benefits-container {
  gap: 60px;
  padding: 60px 300px 0 300px;
}
.benefit-column {
  flex: 1;
}
.benefit-column:first-child {
  border-right: 1px solid #ccc;
  padding-right: 40px;
}
.benefit-column:last-child {
  padding-left: 15px;
}
.benefit-column h2 {
  font-size: 33px;
  margin-bottom: 80px;
  font-weight: 700;
}
.benefit-item {
  margin-bottom: 60px;
}
.icon-title {
  display: flex;
  align-items: center;
  gap: 10px;
}
.icon-title img {
  width: 30px;
  height: 30px;
}
.icon-title h3 {
  font-size: 18px; font-weight: bold;
}
.benefit-item p {
  padding: 8px 0 0 40px;
  font-size: 17px;
  color: #333;
  line-height: 1.5;
}
.global-scating{
  justify-content: center;
  gap: 15px;padding-top:130px;
}
.carts-container{
  width: 650px;
  background-color: white; border-radius: 20px;
}
.carts-container:hover .scating img {
  transform: scale(1.05);
}
.scating img{
  padding-top: 5px;
  transition: transform 0.4s ease;
}
.scate-wraper, .scate-wraper-1{
  gap: 20px;
}
.scate-wraper-1{ flex-direction: column-reverse;}
.scate{
  padding: 263px 0 0 20px;
}
.scate-1{padding: 0 0 0 20px;}
.scate h1{ font-size: 25px;}
.scate-1 h1 {font-size: 25px;}
.scate p{font-size: 16px;}
.btn7 {
  border: none;
  color: black;
  font-weight: 600;
  font-size: 15px;
  background: none;
}
.btn7 i{
  transform: translateX(-8px);
  transition: all 1s ease;
}
.btn7:hover i{
  transform: translateX(0);
}
.btn7:active i{
  transform: scale(0.9);
}
.card-link {
  color: inherit;
}
.card-link-1{color: inherit;}
.carts-container-1{
  padding-bottom: 20px; width: 360px;
  background-color: white; border-radius: 20px;
}
.scating-1 img{
  margin-left: 130px; padding-top: 10px; transition: transform 0.4s ease;
}
.carts-container-1:hover .scating-1 img {
  transform: scale(1.05);
}
.casual-container{
  background: url("Multimedia/callout-rebrand.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}
.casual{
  text-align: center;
}
.casual h1{
  font-size: 60px;
}
.btn8{
  padding: 15px 35px; margin-top: 20px;
  border: none; border-radius: 25px; 
  font-weight: 700; font-size: 17px;
  transition: all 1000ms;
}
.btn8:hover{
  color: black;
  transform: scale(1.1);
}
.btn8::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: lightskyblue;
  transform: skewX(30deg);
  z-index: -1;
  transition: width 700ms;
}
.btn8:hover::before {
  width: 250%;
}
/* This is the End of Wild-check sectioning */
/* This is the Start of Foot Sectioning */
.foot-container{
  background-color: #020a18;
  padding-bottom: 80px;
}
.foot-wrap{
  padding: 0 180px 0 180px;
}
.foot-logo-wrap{
  justify-content: space-between;
  padding: 100px 0 80px 35px;
}
.foot-content{
  gap: 30px;
}
.foot-input-text-wrapper {
  border-bottom: 1px solid #ccc;
  justify-content: flex-end;
  background-color: transparent;
  padding-left: 15px 15px;
  width: 240px;
}
.foot-input-text-wrapper input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 18px;
  padding: 8px 0;
}
.foot-input-text-wrapper input::placeholder {
  color: white;
  transition: opacity 0.3s ease;
}
.foot-input-text-wrapper input:focus::placeholder {
  opacity: 0;
}
.submit-btn {
  background: black;
  border: 1px solid white;
  border-radius: 50%;
  width: 36px; height: 36px;
  color: #00bfff;
  margin: 0 0 5px 0;
  cursor: pointer;
  font-size: 20px;
  padding:12px 12px 20px 12px;
  transition: transform 0.3s ease;
}
.submit-btn:hover {
  transform: scale(1.1);
  background-color: lightskyblue;
  color: black;
}
.contenting p{
  gap: 9px;
  font-size: 17px; font-weight: 700;
}
.contenting p i{
  color: lightskyblue;
  font-size: 22px;
}
.foot-tint {
  justify-content: space-between;
}
.foot-loot h4 {
  margin-bottom: 30px;
  padding-left: 35px;
  color: white;
  font-size: 18px;
  font-weight: 600;
}
.foot-cook,.foot-cook-1,.foot-cook-2 {
  list-style-type: none;
  padding-left: 35px;
  margin: 0;
}
.foot-cook li,.foot-cook-1 li,.foot-cook-2 li {
  margin-bottom: 10px;
}
.foot-cook a,.foot-cook-1 a,.foot-cook-2 a {
  text-decoration: none;
  color: #8b8fa3;
  font-weight: 400;
  font-size: 17px;
  display: inline-block;
  transition: color 0.3s ease;
}
.foot-cook a:hover,.foot-cook-1 a:hover,.foot-cook-2 a:hover {
  color: lightskyblue;
}
.foot-cook-1 {
  margin-bottom: 100px;
}
.foot-cook-2 {
  margin-bottom: 120px;
}
.peep{
  gap: 20px;
  list-style-type: none;
}
.peep-wrap{
  gap: 200px;
  padding-left: 215px;
}
.peeping{
  color: #8b8fa3;
  font-size: 16px;
}
.peep a{
  text-decoration: none;
  color: #8b8fa3;
  font-size: 16px;
}
.peep a:hover{
  color: lightskyblue;
  transition: 1s ease all;
}
.rade {
  align-items: center;
  gap: 20px;
}
.rade-1{
  gap: 150px;
}
.rade p a{
  font-size: 16px;
  color: #8b8fa3;
  text-decoration: none;
}
.rade p a:hover{
  color: lightskyblue;
  transition: 1s ease all;
}
.jjc{
  color: red;
}
/* This is the End of Foot Sectioning */

@media screen and (max-width:1440px) {
  .kofi{display: none;}
  .scate{padding: 291px 0 0 20px;}
  .scate h1{ font-size: 25px;}
  .scate p{font-size: 16px;}
}
@media screen and (max-width: 1024px) {
  .btn9{
    font-size: 15px;
    padding: 10px 20px;
  }
  .navbar-brand img {
    height: 30px; padding-left: 20px;
  }
  .nav-link{
    margin-right: 0px; font-size: 15px;
  }
  .navbar-expand-lg .offcanvas .offcanvas-body {
    padding-right: 50px !important;
  }
  .built{
    height: 70vh;
  }
  .built-h1 {
    font-size: 35px; line-height: 28px;
  }
  .built-p{
    font-size: 16px; line-height: 22px;
  }
  .phone img{
    height: 430px;
  }
  .banding{
    padding:0 0 0 100px;
  }
  .nancy img{
    height: 400px;
  }
  .jency {
    width: 520px; padding: 40px 30px; height: 390px;
  }
  .divide h1 {
    font-size: 45px;
  }
  .power img{
    height: 345px;
  }
  .print h1{
    font-size: 24px;
  }
  .power-wraper{
    padding: 0 40px 70px 60px;
    gap: 50px;
  }
  .power-wraper-1{
    padding: 0 10px 0 120px;
    gap: 0%;
  }
  .power-1 img {
    height: 400px;
  }
  .print-1 h1{
    font-size: 23px;
  }
  .power-2 img {
    height: 350px;
  }
  .power-wraper-2{
    padding: 0 70px 0 80px;
    gap: 50px;
  }
  .power-wraper-3{
    padding: 0 10px 0 120px ;
    gap: 0%;
  }
  .power-3 img{
    height: 350px;
  }
  .quote-wraper{
    padding-bottom: 70px 0 110px 0;
    flex-wrap: wrap;
  }
  .quote-img {
    height: 220px; width: 510px;
  }
  .print-2 h1{
    font-size: 22px;
  }
  .joju {
    padding-left: 16px;
    font-size: 16px;
    line-height: 22px;
    height: 220px; width: 443px;
  }
  .love-lead img {
    width: 260px;
  }
  .power-wraper-4 {
    padding: 60px 30px 80px 127px; gap: 25px;
  }
  .power-4 img{
      height: 365px;
  }
  .print-4 h1{font-size: 30px;}
  .print-4 p{font-size: 18px;}
  .benefits-container {
    gap: 40px; padding: 0 110px 0 130px;
  }
  .benefit-column h2 {
    font-size: 25px;
  }
  .scating img{
    width: 280px; padding-top: 110px;
  }
  .scate{ padding-top: 267px;}
  .scate-wraper {
    gap: 0px;
  }
  .carts-container {
    width: 500px;
  }
  .skate h1, .scate-1 h1{
    font-size: 19px;
  }
  .casual h1 {
    font-size: 50px;
  }
  .foot-wrap {
    padding: 0 50px 0 50px;
  }
  .rade-1 {
   gap: 45px;
  }
  .peep-wrap {
    gap: 35px;
    padding-left: 80px;
  }
  .kofi{
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .note{
    display: none;
  }
  .kind{
    display: none;
  }
  .business-wraper{
    padding-left: 5px; width: 220px;
  }
  .business-wraper a{
    font-size: 16px;
  }
  .navbar-toggler{
    background-color: transparent !important;
    border: none !important;
  }
  .nav-link{
    color: black !important;
    padding-bottom: 35px !important;
    font-size: 25px !important;
  }
  .navbar-expand-lg .offcanvas .offcanvas-body {
    padding-right: 0 0 0 60px !important;
  }
  .phone img {
    height: 290px;
  }
  .navbar{
    background-color: transparent;
    position: sticky;
    top: 20px;
  }
  .banding{
    padding: 50px 0 0 70px;
  }
  .built h1{
    font-size: 45px;
    line-height: 35px;
  }
  .nancy img{
    height: 275px;
  }
  .jency{
    height: 305px;
    width: 520px;
    padding: 20px 25px;
  }
  .jency h1{
    font-size: 20px;
  }
  .jency p {
      line-height: 18px;
      font-size: 14px;
      padding: 5px 0 5px 0;
  }
  .divide{
    padding: 120px 100px 100px 100px;
  }
  .divide h1{
    font-size: 40px;
  }
  .power img {
    height: 550px;
  }
  .print h1{
    padding-right: 184px; font-size: 25px;
  }
  .print p{
    padding-right: 250px;
  }
  .power-wraper{
    flex-wrap: wrap; flex-direction: column;
  }
  .power-wraper-1{
    flex-direction: column-reverse; padding-left: 0%;
  }
  .power-1 img {
    height: 550px;
  }
  .print-1{
    padding: 0 250px 0 70px;
  }
  .print-1 h1 {
    font-size: 25px;
  }
  .power-wraper-2 {
    padding-right:  0 0 0 30px;
    gap: 0%;
    flex-wrap: wrap;
  }
  .power-2 img {
    height: 550px;
  }
  .print-2{
    padding: 0 250px 0 35px;
  }
  .print-3{
    padding: 0 250px 50px 35px;
  }
  .power-wraper-3{
    flex-direction: column-reverse;
    align-items: start;
    padding: 0 0 0 30px;
  }
  .power-3 img{
    height: 550px;
  }
  .joju {
    padding-left: 30px;
    font-size: 18px;
    line-height: 22px;
    height: 220px;
    width: 510px;
    border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; border-top-right-radius: 0px;
  }
  .quote-img {
    height: 230px;
    width: 510px;
    border-top-left-radius: 0px; border-bottom-left-radius: 0px; border-top-left-radius: 15px; border-top-right-radius: 15px;
  }
  .headline h1 {
    font-size: 35px;
  }
  .love-lead {
    overflow-x: auto;
    justify-content: flex-start;
    scroll-snap-type: x mandatory;
  }
  .love-lead img {
    scroll-snap-align:start;
    height: 620px; width: 93vw;
    object-fit: cover;
  }
  .rev-wraper{
    width: 95%;
    padding-bottom: 100px;
  } 
  .rev-banding{
    flex-direction: column-reverse;
    align-items: start;
  }
  .rev-text h1 {
    font-size: 33px;
    padding: 20px 0 1px 0;
  }
  .muji{
    padding-left: 50px;
  }
  .cost img {
    width: 500px;
    padding:35px 0 0 60px;
  }
  .cost p{
    position: absolute;
    padding-left: 66%;
  }
  .power-wraper-4 {
    padding: 0 50px 80px 50px;
    gap: 0px;
  }
  .power-4 img {
    height: 280px;
  }
  .benefits-container {
    gap: 40px;
    padding: 0 58px 0 90px;
    flex-wrap: wrap;
  }
  .benefit-column h2 {
    font-size: 24px;
  }
  .kofi{
    display: none;
  }
  .scating img {
    width: 230px; padding-top: 140px;
  }
  .carts-container{
    width: 389px;
  }
  .scating-1 img {
    width: 145px; margin-left: 91px; padding:30px 0 0 0;
  }
  .carts-container-1 {width: 243px;}
  .scate h1 {
      font-size: 18px;
  }
  .scate p{
    font-size: 14px;
  }
  .scate{ padding-top: 181px;}
  .scate-1{padding: 0 0 0 20px;}
  .scate-1 p{font-size: 14px;}
  .scate, .scate-1 h1{font-size: 15px;}
  .global-scating {padding: 60px 20px 0 10px;}
  .casual h1 {font-size: 38px;}
  .foot-loot h4 {font-size: 16px;}
  .foot-wrap {padding: 0 22px 0 10px;}
  .foot-cook a, .foot-cook-1 a, .foot-cook-2  a{font-size: 14px;}
  .foot-cook li, .foot-cook-1 li, .foot-cook-2 li{
    margin-bottom: 5px;
  }
  .peep-wrap {
    gap: 0px;
    padding-left: 20px;
  }
  .peeping, .peep a, .rade p a{
      font-size: 10px;
  }
  .peeping{
    padding-top: 8px;
  }
  .peep{
    flex-wrap: wrap;
  }
  .rade{
    flex-wrap: wrap;
  }
  .rade-1 {
    gap: 80px;
  }
  .foot-tint{
    flex-wrap: wrap;
  }
  .you-tube-wraper p{
    font-size: 10px;
  }
  .you-tube-container{
    flex-direction: column;
  }
}

@media screen and (max-width: 426px) {
  .top-trick-wraper{
    background-color: #d7d8e3;
  }
  .global-scating{
    flex-wrap: wrap;
    padding-top: 40px;
    justify-content: flex-start;
    align-items: center;
  }
  .power-wraper{
    padding: 0 0 100px 0;
  }
  .power-wraper-3{
    padding: 0%;
  }
  .nancy-wrap{
    flex-wrap: wrap;
  }
  .reed{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .titi{
    width: 200px;
  }
  .nancy img {
    height: 390px;
  }
  .jency {
    height: 330px; width: 900px;
    padding: 38px 38px;
    display: flex; flex-direction: column;
  }
  .btn7{
    display: none;
  }
  .scate-1 p{
    display: none;
  }
  .scating-1 img{
    width: 200px;
    margin-left: 100px; padding-top: 30px;
  }
  .scate-1 h1{
    padding: 0 0 0 20px; width: 100%; font-size: 25px;
  }
  .jency h1{
    font-size: 28px;
  }
  .power img {
    height: 330px;
  }
  .power-1 img {
    height: 330px;
  }
  .power-2 img {
    height: 330px;
  }
  .power-3 img {
    height: 259px;
  }
  .quote-img {
    height: 230px; width: 373px;
  }
  .joju {
    padding: 0 15px 0 15px;
    height: 260px; width: 376px;
    display: flex;
    flex-direction: column; justify-content: center; text-align: center;
  }
  .btn4{
    justify-content: center;
  }
  .headline h1 {
    font-size: 35px;
    padding: 0 0 0 15px;
  }
  .cost img {
    width: 350px;
    padding: 20px 0 0 0;
  }
  .power-wraper-4{
    flex-direction: column;
    padding-bottom: 80px;
  }
  .benefit-column:first-child {
    border-right: none; border-bottom: 1px solid #ccc;
    padding: 0 0 30px 0;
  }
  .contenting p{
    display: none;
  }
  .foot-input-text-wrapper{
    width: 205px;
  }
  .foot-logo-wrap{
    padding-left: 5px;
  }
  .peep-wrap{
    flex-direction: column-reverse; align-items: center;
  }
  .peep{
    flex-direction: row;
    padding-left: 0%;
    gap: 24px;
    justify-content: center;
  }
  .rade-1{
    flex-direction: column-reverse; align-items: center; gap: 10px;
  }
  .banding{
    padding: 0 15px 0 15px; flex-wrap: wrap;
  }
  .built h1 {
    text-align: center;
  }
  .built p{
    text-align: center;
  }
  .built{
    height: fit-content;
  }
  .kofi{
    display: none;
  }
  .divide p{
    padding: 10px 20px;
  }
  .divide{
    padding: 0 30px 0 34px;
  }
  .print h1 {
    padding: 0 50px 0 42px;
  }
  .print p{
    padding: 0 40px 0 42px;
  }
  .print-1{
    padding: 0 40px 70px 42px;
  }
  .print-2{
    padding: 0 40px 80px 30px;
  }
  .print-3 {
    padding: 0 20px 50px 35px;
  }
  .submit-btn{
    border: none; background:none;
  }
  .power-wraper-1, .power-wraper-2{
    padding: 0%;
  }
  .love-lead img {
    height: 280px; margin-bottom: 75px;
  }
  .rev-text, .you-tube-wraper{
    padding-left: 10px;
  }
  .cost p{
    padding-left: 45%;
  }
  .rev-text h1{
    padding-top: 0;
  }
  .muji{
    padding: 0 0 100px 10px;
  }
  .rev-wraper {
    width: 95%;
    padding-bottom: 100px;
  }
  .print-4{
    display: flex; flex-direction: column; align-items: center; text-align: center;
  }
  .benefits-container {
    flex-wrap: wrap; flex-direction: column;
    gap: 40px; padding: 0 10px 0 10px;      
  }
  .scate-wraper{
    flex-wrap: wrap; flex-direction: column-reverse; align-items: center;
    padding: 20px 20px;
  }
  .scate{
    padding: 10px 0 0 10px;
  }
  .carts-container{
    padding: 10px 10px; width: 400px;
  }
  .scate h1 {
    font-size: 28px;
  }
  .scate-1, .seg-1 p{
    padding-left: 0%;
  }
  .carts-container-1{
    width: 400px;
  }
  .top-trick-wraper a,.ref a, .business-wraper a{
    font-size: 14px;
  }
  .ref{
    width: 170px;
  }
  .business-wraper {
    width: 190px; padding: 7px 0 0 20px;
  }
  .top-trick-hover-content{
    transform: none;
  }
  .phone img {
    height: 275px;
  }
}
@media screen and (max-width:376px) {
  .nancy, .power, .power-2 img{
    height: 300px;
  }
  .jency{
    padding: 22px 38px;
  }
  .quote-img, .joju{width: 330px;}
  .carts-container {
    width: 350px;
  }
  .carts-container-1 { width: 350px;}
  .cost img {
    width: 271px; padding-top: 15px;
  }
  .foot-content { gap: 0%;}
  .foot-wrap{ padding-right: 10px;}
  .casual h1 {
    font-size: 33px;
  }
  .top-trick-wraper a,.ref a, .business-wraper a{
    font-size: 12px;
  }
  .ref{width: 190px;}
  .business-wraper {
    width: 190px;
    padding: 7px 0 0 20px;
  }
  .foot-input-text-wrapper{
    width: 155px;
  }
  .foot-input-text-wrapper input{
    font-size: 13px;
  }
  .peep-wrap{
    flex-direction: column-reverse; align-items: center;
  }
  .peep{
    flex-direction: row; justify-content: center;
    padding-left: 0%; gap: 24px;
  }
  .rade-1{
    flex-direction: column-reverse; align-items: center;
    gap: 10px;
  }
  .foot-cook, .foot-cook-1, .foot-cook-2 {
    padding-left: 26px;
  }
  .foot-cook-1,.foot-cook-2{
    margin-bottom: 40px;
  }
  .foot-loot h4{
    padding-left: 26px;margin-bottom: 18px;
  }
  .top-trick-hover-content{
    transform: none;
  }
  .phone img {height: 275px;}
  .power-1 img{height: 310px;}
  .divide{ padding-bottom: 50px;}
}
@media screen and (max-width: 321px) {
  .phone img{
    height: 225px;
  }
  .nancy img{
    height: 220px;
  }
  .jency {
    padding: 21px 15px;
  }
  .power img {
    height: 239px;
  }
  .power-1 img {height: 242px;}
  .power-2 img {height: 240px;}
  .quote-img {
    width: 280px; height: 190px;
  }
  .joju{width: 280px;}
  .cost p{
    padding-left: 52%; font-size: 14px;
  }
  .power-4 img {height: 225px;}
  .carts-container { width: 300px;}
  .carts-container-1{width: 300px;}
  .scating-1 img{ margin-left: 50px;}
  .foot-loot h4{ padding-left: 10px; margin-bottom: 18px;}
  .foot-cook, .foot-cook-1, .foot-cook-2 {
  padding-left: 10px;
  }
  .peep-wrap{
    flex-direction: column-reverse; align-items: center;
  }
  .peep{
    flex-direction: row; justify-content: center;
    padding-left: 0%; gap: 11px;
  }
  .rade-1{
    flex-direction: column-reverse; align-items: center;
    gap: 28px;
  }
  .love-lead img{ margin-bottom: 25px;}
  .foot-input-text-wrapper{ width: 145px;}
  .ref{
    width: 170px;
  }
  .business-wraper {
    width: 200px;
    padding: 7 0 0 10px;
  }
  .top-trick-wraper{width: 115px;}
  .top-trick-hover-content{
    gap: 12px; transform: none;
  }
  .rev-text{
    text-align: center;
  }
  .rev-text, .print-4 h1{font-size: 31px;}
  .casual h1{
    font-size: 33px;
  }
}